@import "tailwindcss";

@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque/LabGrotesque-Lt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque/LabGrotesque-Lt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque/LabGrotesque-Lt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-xenon-blue-500: #5567b5;
    /* Slightly lighter for hover states if needed */
    --color-xenon-blue-600: #293d8f;
    /* Primary Logo Dark Blue */
    --color-xenon-blue-700: #1f2d6b;
    /* Darker for active states */

    --color-xenon-green-500: #42a958;
    /* Slightly lighter */
    --color-xenon-green-600: #309245;
    /* Primary Logo Green */
    --color-xenon-green-700: #226b32;
    /* Darker for active states */

    --color-xenon-light-green-500: #b5db5c;
    /* Slightly lighter */
    --color-xenon-light-green-600: #a0cc3a;
    /* Primary Logo Light Green */
    --color-xenon-light-green-700: #7d9e2e;
    /* Darker for active states */

    --font-sans: 'LabGrotesque', ui-sans-serif, system-ui, sans-serif;
}